n8n_workflow.json
{
  "name": "Clara Agent Automation Pipeline",
  "nodes": [
    {
      "parameters": {
        "content": "## Clara Agent Automation Pipeline\n\nFull 5-step pipeline:\n1. Transcribe onboarding audio/video (Whisper)\n2. Extract account data from demo transcripts\n3. Generate v1 agent specs\n4. Apply onboarding updates (v2 memo)\n5. Generate v2 agent specs\n\n**Before running:** set `PROJECT_ROOT` in the Set Variables node.",
        "height": 220,
        "width": 380
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000001",
      "name": "Sticky Note — README",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "var-project-root",
              "name": "projectRoot",
              "value": "/path/to/clara-agent-automation",
              "type": "string"
            },
            {
              "id": "var-python",
              "name": "pythonBin",
              "value": "py -3.10",
              "type": "string"
            }
          ]
        }
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000002",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 300]
    },
    {
      "parameters": {},
      "id": "1a2b3c4d-0001-0001-0001-000000000003",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "command": "={{ $json.pythonBin }} \"{{ $json.projectRoot }}/scripts/transcribe_onboarding.py\" 2>&1"
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000004",
      "name": "Step 1 — Transcribe Onboarding",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout || '';\nconst stderr = $input.first().json.stderr || '';\nconst exitCode = $input.first().json.exitCode ?? 0;\nif (exitCode !== 0 && !output.includes('No .mp4')) {\n  throw new Error(`Step 1 failed (exit ${exitCode}):\\n${stderr}`);\n}\nreturn [{ json: { step: 1, status: 'ok', output, projectRoot: $('Set Variables').first().json.projectRoot, pythonBin: $('Set Variables').first().json.pythonBin }}];"
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000005",
      "name": "Check Step 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "command": "={{ $json.pythonBin }} \"{{ $json.projectRoot }}/scripts/extract_account_data.py\" 2>&1"
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000006",
      "name": "Step 2 — Extract Account Data",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout || '';\nconst exitCode = $input.first().json.exitCode ?? 0;\nif (exitCode !== 0) throw new Error(`Step 2 failed:\\n${$input.first().json.stderr}`);\nconst accountMatches = output.match(/Account ID\\s*:\\s*(\\S+)/g) || [];\nconst accounts = accountMatches.map(m => m.replace(/Account ID\\s*:\\s*/, '').trim());\nreturn [{ json: { step: 2, status: 'ok', accounts, output, projectRoot: $('Set Variables').first().json.projectRoot, pythonBin: $('Set Variables').first().json.pythonBin }}];"
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000007",
      "name": "Check Step 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "command": "={{ $json.pythonBin }} \"{{ $json.projectRoot }}/scripts/generate_agent_spec.py\" 2>&1"
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000008",
      "name": "Step 3 — Generate v1 Agent Specs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout || '';\nconst exitCode = $input.first().json.exitCode ?? 0;\nif (exitCode !== 0) throw new Error(`Step 3 failed:\\n${$input.first().json.stderr}`);\nreturn [{ json: { step: 3, status: 'ok', output, projectRoot: $('Set Variables').first().json.projectRoot, pythonBin: $('Set Variables').first().json.pythonBin }}];"
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000009",
      "name": "Check Step 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "command": "={{ $json.pythonBin }} \"{{ $json.projectRoot }}/scripts/apply_onboarding_update.py\" 2>&1"
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000010",
      "name": "Step 4 — Apply Onboarding Updates",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout || '';\nconst exitCode = $input.first().json.exitCode ?? 0;\nif (exitCode !== 0) throw new Error(`Step 4 failed:\\n${$input.first().json.stderr}`);\nreturn [{ json: { step: 4, status: 'ok', output, projectRoot: $('Set Variables').first().json.projectRoot, pythonBin: $('Set Variables').first().json.pythonBin }}];"
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000011",
      "name": "Check Step 4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "command": "={{ $json.pythonBin }} \"{{ $json.projectRoot }}/scripts/generate_agent_v2.py\" 2>&1"
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000012",
      "name": "Step 5 — Generate v2 Agent Specs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout || '';\nconst exitCode = $input.first().json.exitCode ?? 0;\nif (exitCode !== 0) throw new Error(`Step 5 failed:\\n${$input.first().json.stderr}`);\n\n// Collect summary from all steps\nreturn [{\n  json: {\n    status: 'PIPELINE_COMPLETE',\n    stepsCompleted: 5,\n    message: 'Clara Agent Automation Pipeline finished successfully.',\n    step5Output: output\n  }\n}];"
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000013",
      "name": "Pipeline Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Step 1 — Transcribe Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 1 — Transcribe Onboarding": {
      "main": [
        [
          {
            "node": "Check Step 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Step 1": {
      "main": [
        [
          {
            "node": "Step 2 — Extract Account Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2 — Extract Account Data": {
      "main": [
        [
          {
            "node": "Check Step 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Step 2": {
      "main": [
        [
          {
            "node": "Step 3 — Generate v1 Agent Specs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 3 — Generate v1 Agent Specs": {
      "main": [
        [
          {
            "node": "Check Step 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Step 3": {
      "main": [
        [
          {
            "node": "Step 4 — Apply Onboarding Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 4 — Apply Onboarding Updates": {
      "main": [
        [
          {
            "node": "Check Step 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Step 4": {
      "main": [
        [
          {
            "node": "Step 5 — Generate v2 Agent Specs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 5 — Generate v2 Agent Specs": {
      "main": [
        [
          {
            "node": "Pipeline Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "clara-pipeline-n8n-workflow-v1",
  "meta": {
    "instanceId": "clara-agent-automation"
  },
  "tags": [
    {
      "createdAt": "2026-03-05T00:00:00.000Z",
      "updatedAt": "2026-03-05T00:00:00.000Z",
      "id": "clara-tag-1",
      "name": "clara-ai"
    },
    {
      "createdAt": "2026-03-05T00:00:00.000Z",
      "updatedAt": "2026-03-05T00:00:00.000Z",
      "id": "clara-tag-2",
      "name": "automation"
    }
  ],
  "pinData": {},
  "versionId": "v1.0.0"
}
