n8n_workflow.json
{
  "name": "Clara Agent Automation Pipeline",
  "nodes": [
    {
      "parameters": {
        "content": "## Clara Agent Automation Pipeline\n\n**Before running:**\n1. Start the API server:\n   `py -3.10 scripts/api_server.py`\n2. Click **Execute Workflow** below\n\nFull 5-step pipeline:\n1. Transcribe onboarding audio/video (Whisper)\n2. Extract account data from demo transcripts\n3. Generate v1 agent specs\n4. Apply onboarding updates (v2 memo)\n5. Generate v2 agent specs",
        "height": 260,
        "width": 400
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000001",
      "name": "Sticky Note — README",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-220, -120]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "var-server-url",
              "name": "serverUrl",
              "value": "http://127.0.0.1:5000",
              "type": "string"
            }
          ]
        }
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000002",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 300]
    },
    {
      "parameters": {},
      "id": "1a2b3c4d-0001-0001-0001-000000000003",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:5000/run/step1",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000004",
      "name": "Step 1 — Transcribe Onboarding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\n// Step 1 is optional — transcripts may already exist if Whisper is not installed\nif (r.status === 'error') {\n  const combined = (r.stdout || '') + (r.stderr || '');\n  if (/Missing Python|whisper|ffmpeg|No .mp4|No .m4a/i.test(combined)) {\n    return [{ json: { step: 1, status: 'ok', note: 'Whisper not installed — using existing .txt transcripts.' } }];\n  }\n  throw new Error('Step 1 failed: ' + (r.stderr || r.stdout || JSON.stringify(r)));\n}\nreturn [{ json: { step: 1, status: 'ok', output: r.stdout || '' } }];"
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000005",
      "name": "Check Step 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:5000/run/step2",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000006",
      "name": "Step 2 — Extract Account Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nif (r.status === 'error') {\n  throw new Error('Step 2 failed: ' + (r.stderr || r.stdout || JSON.stringify(r)));\n}\nconst accountMatches = (r.stdout || '').match(/Account ID\\s*:\\s*(\\S+)/g) || [];\nconst accounts = accountMatches.map(m => m.replace(/Account ID\\s*:\\s*/, '').trim());\nreturn [{ json: { step: 2, status: 'ok', accounts, output: r.stdout || '' } }];"
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000007",
      "name": "Check Step 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:5000/run/step3",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000008",
      "name": "Step 3 — Generate v1 Agent Specs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nif (r.status === 'error') {\n  throw new Error('Step 3 failed: ' + (r.stderr || r.stdout || JSON.stringify(r)));\n}\nreturn [{ json: { step: 3, status: 'ok', output: r.stdout || '' } }];"
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000009",
      "name": "Check Step 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:5000/run/step4",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000010",
      "name": "Step 4 — Apply Onboarding Updates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nif (r.status === 'error') {\n  throw new Error('Step 4 failed: ' + (r.stderr || r.stdout || JSON.stringify(r)));\n}\nreturn [{ json: { step: 4, status: 'ok', output: r.stdout || '' } }];"
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000011",
      "name": "Check Step 4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:5000/run/step5",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000012",
      "name": "Step 5 — Generate v2 Agent Specs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nif (r.status === 'error') {\n  throw new Error('Step 5 failed: ' + (r.stderr || r.stdout || JSON.stringify(r)));\n}\nreturn [{\n  json: {\n    status: 'PIPELINE_COMPLETE',\n    stepsCompleted: 5,\n    message: 'Clara Agent Automation Pipeline finished successfully.',\n    lastOutput: r.stdout || ''\n  }\n}];"
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000013",
      "name": "Pipeline Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Step 1 — Transcribe Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 1 — Transcribe Onboarding": {
      "main": [
        [
          {
            "node": "Check Step 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Step 1": {
      "main": [
        [
          {
            "node": "Step 2 — Extract Account Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2 — Extract Account Data": {
      "main": [
        [
          {
            "node": "Check Step 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Step 2": {
      "main": [
        [
          {
            "node": "Step 3 — Generate v1 Agent Specs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 3 — Generate v1 Agent Specs": {
      "main": [
        [
          {
            "node": "Check Step 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Step 3": {
      "main": [
        [
          {
            "node": "Step 4 — Apply Onboarding Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 4 — Apply Onboarding Updates": {
      "main": [
        [
          {
            "node": "Check Step 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Step 4": {
      "main": [
        [
          {
            "node": "Step 5 — Generate v2 Agent Specs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 5 — Generate v2 Agent Specs": {
      "main": [
        [
          {
            "node": "Pipeline Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "clara-pipeline-n8n-workflow-v1",
  "meta": {
    "instanceId": "clara-agent-automation"
  },
  "tags": [
    {
      "createdAt": "2026-03-05T00:00:00.000Z",
      "updatedAt": "2026-03-05T00:00:00.000Z",
      "id": "clara-tag-1",
      "name": "clara-ai"
    },
    {
      "createdAt": "2026-03-05T00:00:00.000Z",
      "updatedAt": "2026-03-05T00:00:00.000Z",
      "id": "clara-tag-2",
      "name": "automation"
    }
  ],
  "pinData": {},
  "versionId": "v1.0.0"
}
